.ceiling-slider {
  position: absolute;
  width: 30px;
  height: 120px;
  background: no-repeat;
  /* border: 1px black solid; */
  z-index: 5;
  top: 20px;
  left: 535px;
}

.ceiling-thumb {
  width: 22px;
  height: 22px;
  position: absolute;
  /* border: 1px black solid; */
  background: no-repeat;
  z-index: 10;
  top: 0px;
}