.ceiling-slider {
  position: absolute;
  width: 30px;
  height: 138px;
  background: no-repeat;
  /* border: 1px pink solid; */
  z-index: 5;
  top: 10px;
  left: 533px;
}

.ceiling-thumb {
  width: 20px;
  height: 15px;
  position: absolute;
  border: 3px black solid;
  border-radius: 5px;
  transition: background-color 1s;
  z-index: 10;
  top: 0px;
  left: -3px;
  cursor: pointer;
}

.ceiling-gears {
  position: absolute;
  right: 0px;
  top: 0px;
}

.gear-dimensions {
  width: 160px;
  height: 160px;
}

.star-dimensions {
  width: 80px;
  height: 80px;
}

.gear-slot {
  position: absolute;
  right: 17px;
  top: 41px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.ceiling-text {
  position: absolute;
  background-color: white;
  border: 2px solid black;
  border-radius: 2px;
  right: 6px;
  top: 6px;
  padding: 0 2px 0 2px;
}

.center-gear {
  position: absolute;
  left: 271px;
  top: 148px;
}

.center-star {
  position: absolute;
  left: 39px;
  top: 39px;
}

.topLeft-gear {
  position: absolute;
  left: 38px;
  top: 22px;
}

.topLeft-star {
  position: absolute;
  left: 42px;
  top: 39px;
}

.topCenter-gear {
  position: absolute;
  left: 235px;
  top: 34px;
}

.topCenter-star {
  position: absolute;
  left: 40px;
  top: 40px;
}

.centerLeft-gear {
  position: absolute;
  left: 120px;
  top: 158px;
}

.centerLeft-star {
  position: absolute;
  left: 41px;
  top: 37px;
}

.centerRight-gear {
  position: absolute;
  left: 425px;
  top: 146px;
}

.centerRight-star {
  position: absolute;
  left: 41px;
  top: 38px;
}

.bottomLeft-gear {
  position: absolute;
  left: 68px;
  top: 281px;
}

.bottomLeft-star {
  position: absolute;
  left: 41px;
  top: 39px;
}

.bottomCenter-gear {
  position: absolute;
  left: 285px;
  top: 276px;
}

.bottomCenter-star {
  position: absolute;
  left: 41px;
  top: 40px;
}

.bottomRight-gear {
  position: absolute;
  left: 500px;
  top: 288px;
}

.bottomRight-star {
  position: absolute;
  left: 40px;
  top: 40px;
}


