.starBox-clickbox {
  position: absolute;

  width: 100px;
  height: 55px;
  left: 450px;
  top: 40px;
}

.starBox-container {
  position: absolute;
  top: 92px;
  left: 205px;
}

.starBoxImg {
  position: absolute;
  top: 60px;
  left: 168px;
  z-index: 10;
}

.starBox-row {
  display: flex;
}

.starBox-piece {
  width: 100px;
  height: 64px;
  z-index: 30;
}

.starBox-drawer {
  position: absolute;
  left: 183px;
  transition: top 0.5s;
}

.hammer {
  position: absolute;
  left: 80px;
  top: 25px;
  transform: rotate(220deg);
}

.clock {
  position: absolute;
  top: 20px;
  left: 30px;
}

.clock-top-clickbox {
  position: absolute;
  top: 80px;
  left: 70px;
  width: 100px;
  height: 100px;
}

.clock-bottom-clickbox {
  position: absolute;
  top: 185px;
  left: 70px;
  width: 100px;
  height: 230px;
}

.clock-star-puzzle {
  position: absolute;
  left: 194px;
}

.sliding-door-background {
  position: absolute;
  width: 240px;
  height: 70px;
  background-color: rgb(40, 40, 40);
  left: 220px;
  bottom: 25px;
  z-index: -10;
}

.sliding-door {
  position: absolute;
  width: 240px;
  height: 55px;
  background-color: rgb(255, 255, 255);
  left: 220px;
  transition: top 1s;
  border: 3px solid black;
}

.clock-counter {
  width: 26px;
  height: 30px;
}

.clock-pointer-container {
  position: absolute;
  left: 335px;
  top: 182px;
  width: 14px;
  height: 81px;
  z-index: 20;
  /* transition: transform 2s; */
  /* border: 1px solid black; */
}

.clock-pointer {
  position: absolute;
}

.clock-pointer-clickbox {
  position: absolute;
  width: 100%;
  height: 50%;
  /*  */
}

.clock-ans-slot {
  position: absolute;
  width: 24px;
  height: 25px;
  top: 15px;
  border: 2px solid black;
  font-size: 15px;
  text-align: center;
}

.clock-reset-button {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  left: 209px;
  top: 17px;
  background-size: cover;
}

.clock-reset-button-clickbox {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 434px;
  top: 375px;
  z-index: 10;
  cursor: pointer;
}

.clock-top {
  position: absolute;
  left: 163px;
}

.clock-hand {
  position: absolute;
  transform-origin: 50% 100%;
}

.hour-hand {
  left: 333px;
  top: 214px;
}

.minute-hand {
  left: 334px;
  top: 205px;
}

.clock-hand-origin {
  position: absolute;
  top: 265px;
  left: 337px;
  border: 1px solid white;
  background-color: white;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.clock-hand-sm {
  position: absolute;
  background-color: black;
  transform-origin: 50% 100%;
  pointer-events: none;
}

.clock-hour-sm {
  width: 2px;
  height: 10px;
  left: 103px;
  top: 135px;
}

.clock-minute-sm {
  width: 2px;
  height: 15px;
  left: 103px;
  top: 130px;
}

.book0-clickbox {
  position: absolute;
  width: 50px;
  height: 70px;
  left: 530px;
  top: 123px;
}

.book1-clickbox {
  position: absolute;
  width: 50px;
  height: 70px;
  left: 585px;
  top: 123px;
}

.book-top-page {
  position: absolute;
  left: 344px;
  top: 80px;
  width: 243px;
  height: 300px;
  /*  */
}

.book-left-page {
  position: absolute;
  left: 98px;
  top: 80px;
  width: 243px;
  height: 300px;
}

.book-cut-section {
  position: absolute;
  border: 1px solid red;
}

.book-reset-button {
  position: absolute;
  cursor: pointer;
  left: 625px;
  top: 352px;
  border: 2px solid black;
  border-radius: 50%;
}

.book-page-cutout {
  position: absolute;
}

.crossword-clickbox {
  position: absolute;
  width: 170px;
  height: 140px;
  left: 190px;
  top: 140px;
}

.crossword-paper {
  position: absolute;
  cursor: pointer;
}

.crossword-paper-horizontal {
  background-image: url("/src/assets/img/subscenes/clockRoom/crosswordPapersHorizontal255x45.png");
}

.moonBox-clickbox {
  position: absolute;
  width: 80px;
  height: 50px;
  left: 460px;
  top: 340px;
}

.moonBox-container {
  position: absolute;
  width: 395px;
  height: 315px;
  top: 50px;
  left: 145px;
}

.moonBox-counters {
  font-size: 42px;
  top: 150px;
  width: 50px;
}

.moonBox-counter0 {
  left: 68px;
}

.moonBox-counter1 {
  left: 137px;
}

.moonBox-counter2 {
  left: 207px;
}

.moonBox-counter3 {
  left: 277px;
}

.emerald-moonBox {
  position: absolute;
  left: 137px;
  top: 108px;
}

.safe-clickbox {
  position: absolute;
  width: 85px;
  height: 90px;

  left: 550px;
  top: 300px;
}

.safe {
  position: absolute;
  width: 350px;
  height: 340px;
  left: 130px;
  top: 50px;
}

.safe-lock {
  position: absolute;
  width: 96px;
  height: 40px;
  left: 292px;
  top: 231px;
  transition: transform 1s;
}

.safe-counters {
  width: 30px;
  height: 74px;
  top: 115px;
}

.safe-counter-0 {
  left: 274px;
}

.safe-counter-1 {
  left: 324px;
}

.safe-counter-2 {
  left: 374px;
}

.mirror-fragment-2 {
  position: absolute;
  left: 265px;
  top: 144px;
  transform: rotate(3deg);
}

.wall-patch {
  background-image: url("/src/assets/img/subscenes/clockRoom/wallPatch83x44.png");
  position: absolute;
  width: 83px;
  height: 44px;
  left: 210px;
  top: 345px;
}

.wall-patch-closed {
  background-position: 0px 0px;
}

.wall-patch-open {
  background-position: -83px 0px;
}

.wall-acorn {
  position: absolute;
  left: 245px;
  top: 363px;
}
