.mirror-closeup {
  position: absolute;
  left: 190px;
  top: 30px;
  z-index: 0;
}

.mirror-cloth {
  position: absolute;
  top: 3px;
  left: 170px;
  z-index: 10;
}

.mirror-clickbox {
  position: absolute;
  left: 208px;
  top: 47px;
  z-index: 15;
  border: 1px solid pink;
  width: 260px;
  height: 340px;
}

.mirror-fragment1 {
  position: absolute;
  z-index: 5;
  width: 160px;
  height: 210px;
  left: 200px;
  top: 45px;
}

.mirror-fragment2 {
  position: absolute;
  z-index: 5;
  width: 160px;
  height: 210px;
  left: 313px;
  top: 38px;
  background-position: 160px 0px;
}

.mirror-fragment3 {
  position: absolute;
  z-index: 5;
  width: 160px;
  height: 210px;
  left: 209px;
  top: 200px;
  background-position: 320px 0px;
}

.painting-box {
  position: absolute;
  top: 103px;
  left: 140px;
}

.painting-symbol {
  background-size: auto;
  background-repeat: no-repeat;
  width: 43px;
  height: 58px;
  position: absolute;
  top: 193px;
}

.symbol-0 {
  left: 180px;
}

.symbol-1 {
  left: 254px;
}

.symbol-2 {
  left: 328px;
}

.symbol-3 {
  left: 402px;
}

.symbol-4 {
  left: 476px;
}

.moon-clue-sm {
  position: absolute;
  left: 300px;
  top: 110px;
}

.moon-clue {
  position: absolute;
  left: 200px;
  top: 50px;
}
