.flower-drawer {
  position: absolute;
  top: 150px;
  left: 30px;
}

.flower {
  position: absolute;
  top: 26px;
  left: 175px;
  z-index: 10;
}

.flower-color {
  position: absolute;
  width: 27px;
  height: 26px;
  border-radius: 50%;
  top: 6px;
  left: 40px;
  z-index: -1;
}

.open-top-drawer {
  position: absolute;
  /* border: 2px pink solid; */
  top: 210px;
  left: 70px;
  width: 172px;
  height: 53px;
}

.open-bottom-drawer {
  position: absolute;
  /* border: 2px pink solid; */
  top: 280px;
  left: 70px;
  width: 172px;
  height: 53px;
}

.close-top-drawer {
  position: absolute;
  /* border: 2px pink solid; */
  top: 245px;
  left: 65px;
  width: 185px;
  height: 58px;
}

.close-bottom-drawer {
  position: absolute;
  /* border: 2px pink solid; */
  top: 318px;
  left: 65px;
  width: 185px;
  height: 58px;
}

.potion-in-drawer {
  position: absolute;
  top: 285px;
  left: 90px;
}

.show-paper {
  position: absolute;
  /* border: 2px pink solid; */
  top: 210px;
  left: 120px;
  width: 80px;
  height: 30px;
}

.flower-paper {
  position: absolute;
  top: 30px;
  left: 350px;
}

.items-area {
  /* border: 1px solid pink; */
  position: absolute;
  width: 250px;
  height: 130px;
  top: 55px;
  left: 33px;
  z-index: 5;
}

.flower-co-potion {
  position: absolute;
  bottom: 290px;
  left: 55px;
  z-index: 10;
}

.flower-ag-potion {
  position: absolute;
  bottom: 290px;
  left: 87px;
  z-index: 10;
}

.flower-ni-potion {
  position: absolute;
  bottom: 290px;
  left: 143px;
  z-index: 10;
}

.painting1 {
  position: absolute;
  top: 50px;
  left: 130px;
  z-index: 10;
}

.painting2 {
  position: absolute;
  top: 25px;
  left: 300px;
  z-index: 10;
}

.painting3 {
  position: absolute;
  top: 40px;
  left: 460px;
  z-index: 10;
}

.painting4 {
  position: absolute;
  top: 190px;
  left: 170px;
  z-index: 10;
}

.painting5 {
  position: absolute;
  top: 225px;
  left: 310px;
  z-index: 10;
}

.curtains {
  position: absolute;
  z-index: 10;
}

.display {
  position: absolute;
  top: 170px;
  left: 70px;
  z-index: 10;
}

.chandelier {
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 10;
}

.wall-bug {
  position: absolute;
  /* top: 400x;
  right: 400px; */
  z-index: 10;
  width: 30px;
  height: 30px;
  /* border: 1px solid red; */
}

.acornBox-clickbox {
  position: absolute;
  width: 58px;
  height: 30px;
  top: 208px;
  left: 78px;
  z-index: 20;
}

.acornBox-container {
  position: absolute;
  width: 373px;
  height: 324px;
  top: 40px;
  right: 160px;
}

.acornBox-counters {
  font-size: 42px;
  top: 110px;
  width: 50px;
}

.acornBox-counter0 {
  left: 60px;
}

.acornBox-counter1 {
  left: 129px;
}

.acornBox-counter2 {
  left: 196px;
}

.acornBox-counter3 {
  left: 265px;
}
