.circle {
  border-radius: 50%;
}

.xs {
  height: 40px;
  width: auto;
}

.sm {
  height: 50px;
  width: auto
}

.ag-potion {
  clip-path: polygon(25% 31%, 27% 14%, 39% 0, 71% 0, 85% 15%, 86% 39%, 100% 56%, 100% 83%, 76% 100%, 35% 98%, 0 79%, 0 69%);
}