.game-title {
  font-size: 3rem;
  margin-top: 100px;
  text-align: center;
}

.start-button {
  cursor: pointer;
  width: 70px;
  margin: 100px;
  padding: 10px;
  background-color: cyan;
  border: none;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}